.widget-centre{
    background-color: #FFFF;
    width: 1000px;
    height:359px;
    grid-area: widget-centre;
    border-radius: 20px;
    margin-left: 60px;
}


.widget-center-container{
    padding: 30px;
    grid-area:widget-center-container ;

}
