.widget-large{
    background-color: #FFFF;
    width: 480px;
    height: auto;
    margin-left: 88px;
    
    position: relative;
    border-radius: 20px;
    
}

.widget-large-container{
   
    grid-area:widget-large-container ;
    width: 1000px;
   
}

.widget-large-inner-container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 24px;
   

   
}